@media screen and (max-width: 768px){
	/* General */

		body .container {
			padding-right: 15px;
    		padding-left: 15px;
		}

		input[type="submit"] {
			padding: 10px;
		}

		/* Sidebar */

			#page_content #sidebar {
			    /*position: absolute;
			    top: 43px;
			    right: 0;
			    */
			    /*width: auto;*/
			    background: #ffffff;
			    z-index: 1;
			    transition: all linear 0.25s;
			    margin-bottom: 20px;
			    /*transform: translateX(100%);*/
			}

			#sidebar.active {
				transform: translateX(0);
			}
				#sidebar * {
				    height: 0;
				    overflow: hidden;
				    opacity: 0;
				    padding: 0;
				    margin: 0;
				}
				#sidebar.active * {
				    height: auto;
				    opacity: 1;
				    display: inherit;
				}

				#sidebar .menu_icon {
					display: block;
					z-index: 1;
			    	color: #ffffff;
	   				font-size: 23px;
				    padding: 10px;
				    background: #00ab67;
				    line-height: 23px;
				    cursor: pointer;
				    height: 43px;
				    opacity: 1;
				}
				#sidebar.active .menu_icon {
					border-bottom: 1px solid #e1e1e1;
				}

					#sidebar ul {
						margin: 0;
						display: none;
					}
					#sidebar.active ul {
						display: block;
					}

						#sidebar ul li.active {
							border-bottom-color: #00ab67;
						}

							#sidebar ul li a {
								font-size: 16px;
								padding: 10px;
							}

					#sidebar .section {
						padding: 0 10px;
					}
					#sidebar.active .section:last-of-type {
						padding: 0 10px 10px;
					}

	/* Header */
		section#header_top {
			z-index: 1;
		}

			div#logo {
				padding: 0 15px;
			}

				div#logo img {
				    max-width: 300px;
				}

		section#header_bottom {
			padding: 0;
			z-index: 2;
		}

			section#header_bottom .menu_icon {
				position: absolute;
				right: 0;
				bottom: 100%;
				width: 43px;
				padding: 10px 10px 40px 10px;
				line-height: 23px;
				font-size: 23px;
				color: #00ab67;
				background-color: #ffffff;
				display: block;
			}

			section#header_bottom .container {
				padding: 0;
			}

				#header_bottom nav#main_menu {
					overflow: hidden;
				    opacity: 0;
				    height: 0;
				    transition: all linear 0.25s;
				}
				#header_bottom nav#main_menu.expand {
				    opacity: 1;
				    height: auto;
				}

					nav#main_menu li {
						display: block;
					    border-bottom: 1px solid #ffffff;
					}
/*
				nav#main_menu ul li:before {
					display: block;
					font-size: 30px;
				    line-height: 50px;
				    background-color: #00ab67;
				}
				nav#main_menu ul li:hover:before {
				    background-color: #ee3b34;
				}

					nav#main_menu ul li a {
						color: transparent;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: transparent;
					}
					nav#main_menu ul li:hover a {
						background-color: transparent;
					}

					nav#main_menu li:hover ul.sub-menu {
						visibility: hidden;
					    opacity: 0;
				        transform: translateY(-100%);
					}
*/
	/* Home */
		.wpb_revslider_element.main_slider {
			/*display: none;*/
			    margin-bottom: 0;

		}

		.wpb_revslider_element.appeals_slider {
			/*display: block;*/
		}

		#appeals .container, #news .container, #social .container {
			padding-right: 15px;
			padding-left: 15px;
		}

		#appeals {
			display: none;
		}

	/* Sponsorship */

		div#orphan_sponsorship {
			padding: 0 15px;
		}
			
			#mc_orphan_search .field.orphan_country_field {
				margin-top: 30px;
			}

			#results .orphan .meta {

			}

				#results .orphan .meta span {
					display: block;
				}
				#results .orphan .meta span.age:before {
					display: none;
				}

	/* Events */

		html #tribe-events-content .tribe-events-calendar .mobile-active:hover,
		html #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active,
		html #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-],
		html #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a,
		html .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], 
		html .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, 
		html .tribe-events-calendar td.mobile-active {
			background-color: #00ab67;
		}
}