
@{
    ViewBag.Title = "Atia_o_Khairat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Zakat</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Zakat</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/about6.jpg">
                        </div>


                        <div class="content">
                            @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/picture.JPG">
                        </div>


                        <div class="content">
                            @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                        <p>
                            <h2>What is Zakat (zakah)?</h2>
                        <p>&#8220;Take from their money a charity to cleanse them and purify them&#8221; &#8211; Qur&#8217;an 9:103.</p>
                        <p>Zakat is the amount of money that every adult, mentally stable, free, and financially able Muslim, male and female, has to pay to support specific categories people. This category of people is defined in surah at-Taubah (9) verse 60: &#8220;The alms are only for the poor and the needy, and those who collect them, and those whose hearts are to be reconciled, and to free the captives and the debtors, and for the cause of Allah, and (for) the wayfarers; a duty imposed by Allah. Allah is knower, Wise.&#8221; (The Holy Qur&#8217;an 9:60).</p>
                        <p>The obligatory nature of Zakat is firmly established in the Qur&#8217;an, the Sunnah (or hadith), and the consensus of the companions and the Muslim scholars. Allah states in Surah at-Taubah verses 34-35: &#8220;O ye who believe! there are indeed many among the priests and anchorites, who in Falsehood devour the substance of men and hinder (them) from the way of Allah&#8221;.</p>
                        <p>
                            Zakat is obligatory when a certain amount of money, called the nisab
                        </p>
                    </div>


                    <h3 class="thm-color">What is Nisab</h3>


                    <div class="text">
                        <p>Nisab is the minimum amount of wealth required to make a person liable to pay Zakat.</p>
                        <p>The nisab (or minimum amount) of gold and golden currency is 20 mithqal, this is approximately 85 grams of pure gold. One mithqal is approximately 4.25 grams. The nisab of silver and silver currency is 200 dirhams, which is approximately 595 grams of pure silver. The nisab of other kinds of money and currency is to be scaled to that of gold, 85 grams of pure gold. This means that the nisab of money is the price of 85 grams of 999-type (pure) gold, on the day in which Zakat is paid. (Current Gold Prices)<br />
                    </div>

                    <h3 class="thm-color">Easiest way to work out Zakat</h3>


                    <div class="text">
                        <p>At any day of the year (eg 21st Ramadan) add up the value of your gold, silver, savings, cash, shares etc – these are your total assets. Minus from this any money you owe and any bills immediately due – these are your liabilities. If the balance is more than the nisab value, then you have to pay Zakat of 2.5% on the whole amount.<br />
                    </div>
                    <h3 class="thm-color">Points to remember</h3>


                    <div class="text">
                        <p>Zakat is only due on assets held for more than a lunar year. Zakat is not due on your main home. Mortgage loans should not be deducted from your assets. Businesses also need to pay Zakat on their profits and stock.<br />

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
