
@{
    ViewBag.Title = "Calculatezukat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>

media only screen and (min-width: 800px) and (max-width: 25000px) {

.headerhide{
	#display:none !important;
	display: block !important;
    #margin-top: -20px !important;
	}

#layerslider-wrapper{
	padding-top:65px !important;
	}

.page-title-container{
	margin-bottom: 60px !important;
	}

.page-title{
	margin-top: 60px !important;
}

body #header-sticky.sticky-header #sticky-nav ul ul{
	top:52px !important;

}

#wrapper #sticky-nav .fusion-megamenu-wrapper {
	top: 52px !important;
}

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 99 !important;
  left: 0;
}

body #header-sticky.sticky-header .sticky-shadow{
	display:none !important;
}

}

</style>*@		@*<div class="init-sticky-header"></div>*@
	



<div id="sliders-container">
</div>

<!-- yahan say start hua -->

@*<div class="page-title-container">
    <div class="page-title">
        <div class="page-title-wrapper">
            <div class="page-title-captions">
                <ul class="breadcrumbs"><li> <a href="../index.html">Home</a></li><li>Calculate your Zakat</li></ul>                                        					<h1 class="entry-title">
                    Calculate your Zakat
                </h1>
            </div>
        </div>
    </div>
</div>*@
<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
<div class="container">
    <div class="box">
        <h1>Zakat calculator</h1>
    </div>
</div>
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Zakat cslculator</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div> 

<!-- yahan band hua-->
<!-- yahan say copy kia -->

<div id="main" class="clearfix " style="">
    <div class="avada-row" style="">
        <div id="content" style="float:left;">
            <div id="post-1961" class="post-1961 page type-page status-publish has-post-thumbnail hentry">
                <div class="flexslider post-slideshow">
                    <ul class="slides">
                        <li>
                            <a href="#" rel="prettyPhoto[gallery1961]" title=""><img src="#" alt="" /></a>
                        </li>
                    </ul>
                </div>
                <div class="post-content">
                    <div class="wpb_row vc_row-fluid vc_custom_1434371646302">
                        <div class="vc_span8 wpb_column column_container">
                            <div class="wpb_wrapper">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <h2>Calculate the amount of zakat that is payable using the easy to use calculator</h2>
                                        <div class="clearboth"></div><div class="demo-sep sep-dashed" style="margin-top:0px;margin-bottom:0px;"></div>
                                        @*<h3>
                                            Current Nisab value (May 2017)<br />
                                            Silver Nisab £266 (625g)<br />
                                            Gold Nisab £2,945 (87.5g)
                                        </h3>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_span4 wpb_column column_container">
                            <div class="wpb_wrapper">

                                <div class="wpb_single_image wpb_content_element vc_align_center">
                                    <div class="wpb_wrapper">

                                        @*<img width="220" height="200" src="../../139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/uploads/2015/06/zakat-calculatar.jpg" class=" vc_box_border_grey attachment-full" alt="" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> </center><div class="wpb_row vc_row-fluid" >
                        <div class="vc_span12 wpb_column column_container">
                            <div class="wpb_wrapper">

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <div style="text-align: center;"><iframe src="https://islamicaid.com/zakatcalculator/index-new2.php" width="100%" height="1225px" frameborder="0"></iframe></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" style="float:right;"></div>
    </div>
</div>
@*<footer class="footer-area">
    <div class="avada-row">

        <div class="one_fourth">
            <div id="text-22" class="widget widget_text">
                <div class="textwidget"><img src="../../139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/themes/Avada-Child-Theme/images/IA-green.png" alt="footer logo" width="192" height="40" /></div>
            </div>
        </div>

        <div class="one_half">
            <div id="text-3" class="widget widget_text">
                <div class="textwidget">
                    UK Charity Registration Number: 1078489<br />
                    <br /><br /><a href="../fundraising-promise/index.html"> <img width="100" height="110" class="attachment-full" alt="frsb_logo" src="../../139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/uploads/2014/08/logo_frsb.png" style="margin-top: -77px; margin-left: 74%;"> </a>


                </div>
            </div>
        </div>

        <div class="one_fourth" style="margin-right: 0">
            <div id="text-4" class="widget widget_text">
                <div class="textwidget"><a href="https://donate.islamicaid.com/?site=uk&amp;cs=A103AQ&amp;donation_from=footer" class="button green-button">Donate</a></div>
            </div>
        </div>

    </div>
    </footer>*@