@model OLIWS.Models.conViewModel
@{
    ViewBag.Title = "contact_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/validation.js"></script>

@using (Html.BeginForm("contact_us", "OLIWS", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="inner-banner has-base-color-overlay text-center" style="background: url(images/background/4.jpg);">
        <div class="container">
            <div class="box">
                <h1>Contact us</h1>
            </div>
        </div>
    </div> 
    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index-2.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>

                    <li>
                        Contact us
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <a href="#" class="get-qoute"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
            </div>
        </div>
    </div>




    <section class="contact sec-padd2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Send Your <span class="thm-color">Message</span></h2>
                    </div>
                    <div class="default-form-area">
                        <form id="contact-form" name="contact_form" class="default-form" method="post">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" name="name"  class="form-control" value="" placeholder="" title="First Name" id="fname" maxlength="15" onkeyup="validate_name('fname', 'error', 2, 'N', 'For valid name enter elphabet only')"  style="height:45px;width:300px">
                                        <span id="error"></span>
                                      </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group"><label>Last Name</label>
                                        <input type="text" name="lastname"  class="form-control required email" value="" placeholder="" title="Last Name" id="lname" maxlength="15" onkeyup="validate_name('lname', 'Lerror', 2, 'N', 'For valid name enter elphabet only')" required="" style="height:45px;width:300px">
                                        <span id="Lerror"></span>
                                     </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="Con_Email" class="form-control" value="" placeholder="" title="Email" id="email" onkeyup="validate_name('email','Eerror','', 'E', 'Email formate should be abc@xyz.com ')"  required style="height:45px;width:300px">
                                        <span id="Eerror"></span>
                                     </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" name="subject" class="form-control" value="" placeholder="" title="Subject" style="height:45px;width:300px">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group"><label>your Message</label>
                                        <textarea name="Message" class="form-control textarea required" maxlength="150" rows="6" required placeholder="Your Message...."></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                    <div class="form-group">
                                     
                                        <input id="form_botcheck" name="form_botcheck" class="form-control"  type="hidden" value="">
                                        <button class="thm-btn" type="submit" data-loading-text="Please wait..." onclick="return ContactAllField()">send message</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Quick <span class="thm-color">Contact</span></h2>
                    </div>
                    <div class="content">
                        <div class="text">
                            <p>If you are passionate about helping people: through education, or preventing then you are in the right place. </p>
                        </div>
                        <ul class="contact-info">
                            <li><i class="icon-arrows"></i><span>Address:</span> 121, humanity Apple Street <br>New York, NY 10012, USA</li>
                            <li><i class="icon-phone"></i><span> Phone:</span> (123) 0200 12345 & <br>1800-45-678-9012</li>
                            <li><i class="icon-back"></i><span>Email:</span> Supportus@humanity.com</li>
                        </ul>
                        @*<ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-feed"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>*@
                    </div>
                </div>


            </div>
        </div>
    </section>
}

