
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/images.jpg);">
    
    <div class="container">
        <div class="box">
            <h1>Education</h1>
        </div>
    </div>

    </div>

    <div class="breadcumb-wrapper">
        <div class="container">
            <div class="pull-left">
                <ul class="list-inline link-list">
                    <li>
                        <a href="index-2.html">Home</a>
                    </li>


                    <li>
                        <a href="#">Pages</a>
                    </li>


                    <li>Education</li>
                </ul>
            </div>


            <div class="pull-right">
                <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
            </div>
        </div>
    </div>


    <section class="about sec-padd2 style-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 left-column">
                    <div class="row padd-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img alt="" src="~/Designing/images (1).jpg">
                            </div>


                            <div class="content">
                                @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img alt="" src="~/Designing/images.jpg">
                            </div>


                            <div class="content">
                                @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row-md-6 row-sm-6 row-xs-12">
                    <div class="content">
                        <div class="text">
                            <p>
                                <h2>What is Education?</h2>
                            <p>As we all know, education is important in our life. Education is the only thing that helps us to differentiate what is wrong and what is right. Without education we can’t do what we want or we can’t reach our destination. Education helps us in each and every field of our life.&#8221; &#8211; Qur&#8217;an 9:103.</p>
                            <p>Education helps us to explore our own thoughts and ideas and makes it able to express it in different forms. So for me education is like a medium through which I can interact with different people and share our ideas. It is also the door to our destiny..</p>
                            <p>The first thing that strikes me about education is knowledge gain. Education gives us a knowledge of the world around us and changes it into something better. It develops in us a perspective of looking at life. It helps us build opinions and have points of view on things in life. People debate over the subject of whether education is the only thing that gives knowledge. Some say education is the process of gaining information about the surrounding world while knowledge is something very different.</p>
                            <p>
                                Child is  meaant to learn not to earn
                            </p>
                        </div>


                        <h3 class="thm-color">Why education is important</h3>


                        <div class="text">
                            <p>Education is the most element in the evolution of the nation. Some people across the world would think that money is an important factor, but it is wrong because without education, no money. Learning is the major factor which is related to education if you learn new things, then you will educate more and more. Without the education you will not explore the new ideas it means you will not able to develop the world because without ideas there is no creativity and without creativity, there is no development. .</p>
                            <p>Across the world, we saw that some country is more germinate and some are not. The country which is more growing the more educated people ratio compares to the country which is less developed. Education is the tool which provides people require knowledge, skill, technique, and information and enables them to know their rights and duties toward their family, society, and obviously nation. Education expands the vision, outlook to see the world.)<br />
                        </div>

                        <h3 class="thm-color">Educate your children</h3>


                        <div class="text">
                            <p>From rural areas that have never had a school to classrooms that have been destroyed because of disaster or conflict, millions of children are unable to go to school across the world today simply because there are no schools for them to go to..<br />
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


