
@{
    ViewBag.Title = "Fitrana";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  
<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.JPG);">
    <div class="container">
        <div class="box">
            <h1>Zakat</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Zakat</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/about6.jpg">
                        </div>


                        <div class="content">
                            @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/picture.JPG">
                        </div>


                        <div class="content">
                            @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                        <p>
              
                            <h1>Zakat al-fitr (Fitrana)</h1>
                        <p>Zakat al-Fitr (fitrana) is charity given to the poor at the end of the fasting month of Ramadan. Islamic Aid suggest that £3 is given for each member of the household &#8211; including children, adults, servants etc &#8211; before the day of Eid.</p>
                    </div>


                    <h3 class="thm-color">Classification</h3>


                    <div class="text">
                        <p>According to Islamic tradition (Sunnah), Ibn &#8216;Umar said that Muhammad made Zakat al-Fitr compulsory on every slave, freeman, male, female, young and old among the Muslims; one Saa` of dried dates or one Saa` of barley. [Sahih Bukhari &#8211; Arabic/English, vol. 2, p. 339, no. 579][1] The head of the household may pay the required amount for the other members. Abu Sa&#8217;eed al-Khudree said:</p>
                        <p>On behalf of our young and old, free men and slaves, we used to take out during Allaah&#8217;s Messenger&#8217;s (upon whom be God&#8217;s peace and blessings) lifetime one Sa` of grain, cheese or raisins&#8221;. [Sahih Muslim &#8211; English transl. vol. 2, p. 469, no. 2155][2]<br />

</div>

                    <h3 class="thm-color">Significance</h3>


                    <div class="text">
                        <p>The significant role played by Zakat in the circulation of wealth within the Islamic society is also played by the Sadaqat al-Fitr. However, in the case of Sadaqat al-Fitr, each individual is required to calculate how much charity is due from himself and his dependents and go into the community in order to find those who deserve such charity. Thus, Sadaqat al-Fitr plays a very important role in the development of the bonds of community. The rich are obliged to come in direct contact with the poor, and the poor are put in contact with the extremely poor. This contact between the various levels of society helps to build real bonds of brotherhood and love within the Islamic community and trains those who have, to be generous to those who do not have.<br />

</div>
                    <h3 class="thm-color">Rate</h3>


                    <div class="text">
                        <p>The amount of Zakat is the same for everyone regardless of their different income brackets. The minimum amount is one sa` (four double handfuls ) of food, grain or dried fruit for each member of the family. This calculation is based on Ibn &#8216;Umar&#8217;s report that the Prophet made Zakat al-Fitr compulsory and payable by a sa` of dried dates or a sa` of barley.</p>
                        <p>The distribution of Zakat al-Fitr is the same as that of Zakah, and is included within its broader sense. Those who may receive Zakat al-Fitr are the eight categories of recipients mentioned in Surat Al-Tawbah, [9: 60]. They include:</p>
                        <ol>
                            <li>the poor</li>
                            <li>the needy,</li>
                            <li>collectors of Zakah,</li>
                            <li>reconciliation of hearts,</li>
                            <li>freeing captives / slaves(fee al-Riqab),</li>
                            <li>debtors</li>
                            <li>sadaqa in the Way of God&#8217;s holy service (fee sabeel illah)</li>
                            <li>the traveler.</li>
                        </ol>
                        <p>Zakat al-Fitr must not go for building a mosque, or a school or for other things. It must go to the above-mentioned categories. The Zakat al-mal cannot be used for such things either.<br />
</div>

                </div>
            </div>
        </div>
    </div>
</section>