
@{
    ViewBag.Title = "Health";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/images.jpg);">

    <div class="container">
        <div class="box">
            <h1>Education</h1>
        </div>
    </div>

</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Health</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/images (2).jpg">
                        </div>


                        <div class="content">
                            @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/images (3).jpg">
                        </div>


                        <div class="content">
                            @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                        <p>
                            <h2>Health</h2>
                        <p>Health is something that affects every single living creature on this planet. Preventing illness is often as simple as soap, clean water and hygienic sanitation facilities, and perhaps a piece of netting to protect children from malaria-transmitting mosquito bites. When these basic items are provided, the number of illnesses drops drastically. These are still unattainable luxuries in some regions of the world..</p>
                        <p>But preventing illness is not the only challenge. Once an individual becomes ill, access to health care varies widely: Poor populations tend to have less access to health care. Poor children live much shorter lives than children from wealthy families, in part due to inadequate health care. A boy who was born in 2012 in a high-income country can expect to live 75.8 years—more than 15 years longer than a boy born in a low-income country..</p>
                        <p>
                            Child is  meaant to learn not to earn
                        </p>
                    </div>


                    <h3 class="thm-color">Health in Islam</h3>


                    <div class="text">
                        <p>The life of this world is not stable.  Every person goes through stages and phases; happiness is followed by sadness and then relief or joy, ones’ faith is strong and unconquerable, and seemingly, for no reason it plummets, next, by the will of God it slowly rises again.  Periods of great fitness and health are followed by injury or, sickness, but with each twinge of pain or suffering a true believer feels some of his sins fall away.<br>

<b>“Whenever a Muslim is afflicted by harm from sickness or other matters, God will expiate his sins, like leaves drop from a tree.” (Bukhari and Muslim). </b>.</p>
                        <p>Islam takes a holistic approach to health.  Just as religious life is inseparable from secular life, physical, emotional and spiritual health cannot be separated; they are three parts that make a completely healthy person.  When one part is injured or unhealthy, the other parts suffer.  If a person is physically ill or injured it may be difficult to concentrate on anything but the pain.  If a person is emotionally unwell, he or she may not be able to take care of him or herself properly or find their minds distracted from the realities of life)<br />
                    </div>

                 


                </div>
            </div>
        </div>
    </div>
</section>



