
@{
    ViewBag.Title = "Khums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Zakat</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Zakat</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/about6.jpg">
                        </div>


                        <div class="content">
                            @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/picture.JPG">
                        </div>


                        <div class="content">
                            @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                        <p>
                            <h2>What is Khums?</h2>
                        <p>"Khums" literally means "one-fifth or 20%". In Islamic legal terminology, it means "one-fifth of certain items which a person acquires as wealth, and which must be paid as an Islamic tax". The Qur'an mentions it in the following verse:
                    Know that whatever of a thing you acquire, a fifth of it is for Allah, for the Messenger, for the near relative, and the orphans, the needy, and the wayfarer...(8:41)
                            </p>
                        <p>
                           <b> Is khums also wajib on gift, prize, legacy, charity, zakat and khums?</b>

                            According to most present mujtahids, it is precautionarily wajib to pay khums from such items also.

                            By "legacy" we mean anything bequeathed to a person in the will of a friend or of someone not related to him.

                            However, the khums is not liable on dowry or inheritance except when one inherits from the least expected person; for example, a very remote relative from whom one does not expect to inherit.
                            </p>

                        
                        <h2>Importance of Khums</h2>
                        <p>
                            A person should pay one fifth of his savings after subtracting costs for one year from any income that he had and pay it to Bayt Al-Mal in order to spend in defined usages, and they have no clear proof for this extending; and therefore Sunni scholars are not believed on Khums other than spoils of war and if we assume that Khums has some extending cases and advancements it is forgiven during the major absence of Imam Zaman (a.s.)!”


                        </p>
                    </div>


                    <h3 class="thm-color">The Distribution of Khums</h3>


                    <div class="text">
                        <p>  The Two Shares Of Khums
                            <ol>
                                <li> According to the verse of khums, this Islamic tax is for:
                                </li><li>(1) Allah</li>
                                <li> (2) the Messenger of Allah</li>
                                <li>(3) the near relative of the Messenger</li>
                                <li>(4) the orphans </li>
                                <li> (5) needy</li>
                                <li>  (6) stranded traveler.</li>
</ol>
                         <p>   The first two shares are clear: they belong to Allah and Prophet Muhammad respectively. The third share, that of "the near relative" belongs to the infallible Imam of the time. The latter three shares belong to those of the Hashimite family who are orphan, needy and stranded traveler.</p>
</div>

                    <h3 class="thm-color">Easiest way to work out Zakat</h3>


                    <div class="text">
                        <p>At any day of the year (eg 21st Ramadan) add up the value of your gold, silver, savings, cash, shares etc – these are your total assets. Minus from this any money you owe and any bills immediately due – these are your liabilities. If the balance is more than the nisab value, then you have to pay Zakat of 2.5% on the whole amount.<br />
                    </div>
                    <h3 class="thm-color">Points to remember</h3>


                    <div class="text">
                        <p>Zakat is only due on assets held for more than a lunar year. Zakat is not due on your main home. Mortgage loans should not be deducted from your assets. Businesses also need to pay Zakat on their profits and stock.<br />

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

