
@{
    ViewBag.Title = "our_story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Our story</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>our story</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    @*<div class="col-md-6 col-sm-6 col-xs-12">
                       

                        <div class="content">
                            <p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>
                        </div>*@
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                  
                            <h2>Giving the poorest children a better start in life</h2>
                        <p>When I started my own business in 1998 and felt settled, I knew I wanted to give something back to my community. I knew I didn’t want others to face the same hardships I had, not to face the same fears I did on my long journey to school and on the way home. So I started a school in my village to help provide children with quality education, free of fear and on their door¬step. It was here that the seeds of Islamic Aid were sown, a charity that has gone from strength to strength, helping tens of thousands of children in parts of Asia, Africa and Europe access quality education and health care and giving their parents the skills and means to earn a decent living.</p>
                              </div>


                    <h3 class="thm-color">Helping people to help themselves</h3>


                    <div class="text">
                        <p>I recognised very early on that the best answer to poverty is to help people to help themselves by giving them the training, tools, livestock and whatever else they need to stand on their own feet. And this remains the guiding principle of Islamic Aid today.In establishing Islamic Aid in 2000, I was able to use my business expertise and experience of the charity sector to give something back to the community I had once belonged to.</p>

                       </div>

                    <h3 class="thm-color">Challenging beginnings</h3>
                     <div class="text">
                         <p>Yet during the charity’s infancy of its first year, the world watched in horror as we saw terrorist attacks in New York, where families were devastated as people lost their lives in the twin tower attacks. Understandably, this was a difficult time for Muslim charities – both established and new – as the media and the public began to question why they existed. Such charities were viewed with suspicion as people questioned what activities they may be funding.</p>
                         <p>For me personally, things did not end there. As the twin towers collapsed, so did one of my major business projects that was set to be launched in November 2001 to offer Islamic banking in the UK and internationally.</p>
                         <p>From the position of having a very robust business plan, very supportive business partnerships and venture capital in place and a forecast of more than £500 million under management in its fourth year, I saw everything melt away in the tide of opinion against anything Islamic. While it was a big disaster for me and my business, for Islamic Aid it probably was a major turning point in that I was able to focus much more on developing the charity.</p>

                        </div>
                    <h3 class="thm-color">Committed to helping those in greatest need</h3>
                        <div class="text">
                        <p>While internationally it was a very difficult time to run a charity with an Islamic name, it made me more determined to succeed and to show the importance of helping desperately poor communities, many of whom had little idea of what the world may be thinking.</p>
                        <p>Today, alhamdullilah, I have my own successful business and Islamic Aid is growing very fast. The charity has already achieved an annual turnover of £3.3 million and recruited 90,000 donors. We have established Islamic Aid in the US and we continue to expand our support to vital projects in parts of Africa, Asia and Europe. These successes also enabled me to support as a Trustee the cause of poverty alleviation through other charities like Practical Action, (www.practicalaction.org) and Pakistan Foundation.</p>
                        <p>I continue to be driven by my early life experiences and to work tirelessly towards my vision of a world where poverty and suffering have been overcome and children are given the chance to grow up and live in dignity, independence and freedom. I very much hope you share my passion for a fairer world and that you will support the work of Islamic Aid now and in the future. Thank you.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

