
@{
    ViewBag.Title = "Our_structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Our Structure</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>our Structure</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    @*<div class="col-md-6 col-sm-6 col-xs-12">


                        <div class="content">
                            <p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>
                        </div>*@
                </div>
            </div>
        </div>


        <div class="row-md-6 row-sm-6 row-xs-12">
            <div class="content">
                <div class="text">
                    <p>Islamic Aid was established in 2000 to seek to make immediate and lasting improvements to the lives of people affected by poverty, war and disaster by providing food and water, healthcare, education and livelihoods. We also provide emergency relief when disasters strike the poor communities.</p>
                    <p>Islamic Aid is governed by a Trust Deed and is registered with the Charity Commission of England and Wales. (Charity Registration Number: 1078489)</p>

                   </div>


                <h3 class="thm-color">The Head Office</h3>
                  <div class="text">
                      <p>
                          Islamic Aid<br />
                          47 Theydon Street, London E17 8EN<br />
                          Phone: 0300 111 3001 (calls included in your free minutes)<br />
                          Email: <a href="mailto:ma&#105;&#108;&#64;i&#115;l&#97;m&#105;cai&#100;&#46;c&#111;m">&#109;&#97;i&#108;&#64;isl&#97;&#109;&#105;c&#97;&#105;d&#46;com</a><br />
                          Charity Registration Number: 1078489<br />
                          </div>
                 <h3 class="thm-color">The Trustees</h3>
                <div class="text">
                    <p>Currently we have seven trustees, managing the charity&#8217;s finances and ensuring Islamic Aid operates within the requirements of UK charity law. The Trustees are unpaid volunteers who govern the charity and meet frequently.<br />
                    </div>
                <h3 class="thm-color">The Grants Committee</h3>
                <div class="text">
                    <p>Considers proposals to the charity for grant funding, taking expert advice where required from UK and other sources.<br />
                    </div>

            </div>
        </div>
    </div>
    </div>
</section>



