
@{
    ViewBag.Title = "Usher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner-banner has-base-color-overlay text-center" style="background: url(images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Ushr</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Ushr</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/about6.jpg">
                        </div>


                        <div class="content">
                            @*<p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actually teachings of the great explorer of the truth when you give to Our humanity.</p>*@
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="img-box">
                            <img alt="" src="~/Designing/OLIWSHOME/images/resource/picture.JPG">
                        </div>


                        <div class="content">
                            @*<p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>*@
                        </div>
                    </div>
                </div>
            </div>


            <div class="row-md-6 row-sm-6 row-xs-12">
                <div class="content">
                    <div class="text">
                        <p>
                            <h2>What is Ushr?</h2>
                        <p> A 10% tax on the harvests of irrigated land and 10% tax on harvest from rain-watered land and 5% on Land dependent on well water.[2] The term has also been used for a 10% tax on merchandise imported from states that taxed the Muslims on their products.[6] Caliph `Umar ibn Al-Khattāb was the first Muslim ruler to levy ushr
                        </p>
                    </div>


                  

                    <h3 class="thm-color">Easiest way to work out Ushr</h3>


                    <div class="text">
                        <p>According to some jurists, ‘ushr is not obligatory on those vegetables and fruits which are not stored, but if the grower sells them in the market, he will have to pay Zakat as on other trade goods if he trade capital amounts up to the Nisab limit of 200 dirhams or more in the beginning and the end of the trade

Imam Malik and  Hadrat Sufyan opine that there is no ‘Ushr on honey and Imam Shafe’ .

According to Imam Bukhari, no Hadith relating to Zakat on honey is authentic.   <br />
                    </div>
                    <h3 class="thm-color">Points to remember</h3>


                    <div class="text">
                        <p> Baihaqi has reported that a person brought his ‘Ushr of honey before he Holy Prophet and requested that arrangements be made for the protection of the Siblah forest and the Holy Prophet made the necessary arrangements.  In the Caliphate of Hadrat ‘Umar, Sufyan bin Wahab, an official, sought has guidance and direction.  Hadrat ‘Umar wrote him back, saying :  “If the people give you that which they used to give to the Holy Prophet, you should take it, and make arrangements for the protection of the Siblah forest, otherwise honey prroduced by the bee is just like the rain water which may be used freely by an body”.

Maulana Maududi has expressed the view that honey should be exempted from Zakat, but if it is made an article of trade, it should be made subject to Zakat just like other trade goods.

This is the view of Imam Abu Hanifah.  According to his celebrated pupils and Imam Shafi, the minimum quantity for ‘Ushr to be obligatory is five Wasaqs (app. 2000 lb.)  The Ahl al-Hadith scholars concur in this view.  They base their opinion on this Hadith : <br />

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

