
@{
    ViewBag.Title = "Vision_And_Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Vision And Mission</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Vision And Mission</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    @*<div class="col-md-6 col-sm-6 col-xs-12">


                        <div class="content">
                            <p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>
                        </div>*@
                </div>
            </div>
        </div>


        <div class="row-md-6 row-sm-6 row-xs-12">
            <div class="content">
                <div class="text">

                    <h2>Islamic Aid aims and values</h2>
                    <p>Islamic Aid is a Muslim relief and development charity working to make immediate and lasting improvements to the lives of people affected by poverty, war and disaster.  Islamic Aid believes that the world can and must be swiftly changed to one where everyone can live a full life, free from poverty.</p>
                    <p>Islamic Aid is working in many parts of the world to bring change that eradicates the causes of poverty, striving to achieve equality, dignity and freedom for all, regardless of faith or nationality.</p>
                    <p>Islamic Aid provides urgent, practical and effective assistance where need is great, tackling the root  effects of poverty as well as its root causes.<br />

</div>


                <h3 class="thm-color">Islamic Aid vision</h3>
                    <div class="text">
                        <p>Poverty is an outrage against humanity. It robs people of dignity, freedom and hope, of power over their own lives. Islamic Aid has a vision &#8211; an end to poverty &#8211; and we believe that that vision can become a reality.</p>
                        <p>Islamic Aid&#8217;s work is focused around the goals and objectives identified in our corporate strategy, &#8216;Partnership for change – the power to end poverty&#8217; .<br />
                        </div>
                <h3 class="thm-color">Islamic Aid mandate</h3>
                <div class="text">
                    <p>Islamic Aid is a Muslim relief and development charity working mainly with Muslim communities in the UK and abroad and is mandated to work on relief, development and advocacy for poverty eradication.  Islamic Aid’s work is founded on Muslim faith, inspired by hope and acts to change an unjust world through charity.<br />
                    </div>
                         </div>
        </div>
    </div>
    </div>
</section>