
@{
    ViewBag.Title = "Work_with_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(~/Designing/OLIWSHOME/images/background/4.jpg);">
    <div class="container">
        <div class="box">
            <h1>Work with Us</h1>
        </div>
    </div>
</div>


<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="index-2.html">Home</a>
                </li>


                <li>
                    <a href="#">Pages</a>
                </li>


                <li>Work with Us</li>
            </ul>
        </div>


        <div class="pull-right">
            <a class="get-qoute" href="#"><i class="fa fa-arrow-circle-right"></i>Become a Volunteer</a>
        </div>
    </div>
</div>


<section class="about sec-padd2 style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 left-column">
                <div class="row padd-bottom-30">
                    @*<div class="col-md-6 col-sm-6 col-xs-12">


                        <div class="content">
                            <p>When you give to Our humanity, you know your donation is making a difference. Whether you supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff.</p>
                        </div>*@
                </div>
            </div>
        </div>


        <div class="row-md-6 row-sm-6 row-xs-12">
            <div class="content">
                <div class="text">

                    <h2>Work with Us</h2>
                    <p>Islamic Aid is an innovative and exciting international development charity. Since its inception in 2000 it’s been driven forward by its Founder and Chairman, the entrepreneur, Mahmood Hassan.</p>
                    <p>Progress has been impressive with highly successful and award winning fundraising, delivering high impact projects. The charity continues to grow fast and funding is now in place to deliver an ambitious expansion plan. This will see Islamic Aid building on its proven entrepreneurial approach to fundraising while establishing the foundations for more substantial program work. Mahmood is now looking to recruit a team of passionate and committed professionals to help shape the direction and build Islamic Aid.</p>
                    <p>We are currently looking for the following team members. To apply, please download the <a href="https://139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/uploads/2012/05/EmpFrm2011-.doc">application form</a> and email to <a href="mailto:jo&#98;&#115;&#64;&#105;s&#108;&#97;&#109;i&#99;aid.&#99;om">&#106;&#111;bs&#64;&#105;s&#108;&#97;mic&#97;i&#100;&#46;co&#109;</a>. Please mention the job title in the subject line.</p>

                </div>


                <h3 class="thm-color">Program Managers</h3>
                <div class="text">
                    <p>Experienced professionals responsible for developing and managing portfolio of programmes in various countries in Asia and Africa.</p>
</div>
                                <h3 class="thm-color">Fundraising Managers</h3>
                <div class="text">
                    p>Islamic Aid is currently diversifying our fundraising through direct mail; digital marketing; community fundraising; events, media and PR. You will have at least successful track record in at least one area of fundraising.</p>
</div>
                <h3 class="thm-color">Fundraising and Admin Executives</h3>
                    <div class="text">
                        <p>Responsible for handling postal, telephone and online donations and inquiries from donors and related admin work. Preferably graduates with excellent IT and communication skills and polite manner.</p>
                    </div>
                    </div>
        </div>
    </div>
    
</section>