<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from thememascot.net/demo/personal/j/ngopress/v2.0/demo/index-sp-layout3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 Jul 2018 14:52:46 GMT -->
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ngopress - Nonprofit, Crowdfunding & Charity HTML5 Template" />
    <meta name="keywords" content="charity,crowdfunding,nonprofit,orphan,Poor,funding,fundrising,ngo,children" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>OLIWS</title>

    <!-- Favicon and Touch Icons -->
    <link href="~/Designing/Myfolder/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Designing/Myfolder/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Designing/Myfolder/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Designing/Myfolder/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Designing/Myfolder/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Designing/Myfolder/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Designing/Myfolder/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Designing/Myfolder/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Designing/Myfolder/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Designing/Myfolder/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Designing/Myfolder/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Designing/Myfolder/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Designing/Myfolder/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Designing/Myfolder/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/Designing/Myfolder/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/Designing/Myfolder/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/Designing/Myfolder/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="~/Designing/Myfolder/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Designing/Myfolder/js/jquery-2.2.4.min.js"></script>
    <script src="~/Designing/Myfolder/js/jquery-ui.min.js"></script>
    <script src="~/Designing/Myfolder/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/Designing/Myfolder/js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/Designing/Myfolder/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Designing/Myfolder/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img class="floating" src="~/Designing/Myfolder/images/preloaders/13.png" alt="">
                <h5 class="line-height-50 font-18 ml-15">Loading...</h5>
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>
        </div>
        @RenderBody()
        <script src="~/Designing/Myfolder/js/custom.js"></script>

        <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
              (Load Extensions only on Local File Systems !
               The following part can be removed on Server for On Demand Loading) -->
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="~/Designing/Myfolder/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>

<!-- Mirrored from thememascot.net/demo/personal/j/ngopress/v2.0/demo/index-sp-layout3.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 31 Jul 2018 14:52:46 GMT -->
</html>