@using OLIWS.Models
@{
    ViewBag.Title = "team";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("team", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
        @Html.AntiForgeryToken()

<link href="~/Areas/Styling/Design/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Areas/Styling/Design/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Areas/Styling/Design/css/animate.min.css" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="~/Areas/Styling/Design/css/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="~/Areas/Styling/Design/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="~/Areas/Styling/Design/js/jquery-2.2.3.min.js"></script>
<script src="~/Areas/Styling/Design/js/jquery-scrolltofixed-min.js" type="text/javascript"></script><!-- fixed nav js -->

<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10,
                zIndex: 999
            });
        });
    });
</script>
<!-- //js -->
<!-- web-fonts -->
<link href='~/Areas/Styling/Design/fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='~/Areas/Styling/Design/fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='~/Areas/Styling/Design/fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<!-- web-fonts -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="~/Areas/Styling/Design/js/move-top.js"></script>
<script type="text/javascript" src="~/Areas/Styling/Design/js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
</script>

<body background="~/Areas/Styling/Design/one.JPG ">
    <div class="login-page">
        <div class="container">
            <h3 class="w3ls-title w3ls-title1">Team Registration</h3>
            <div class="login-body">
                <form action="#" method="post">
                    <input type="text" class="user" name="FirstName" id="vfname" maxlength="15" onkeyup="validate_name('vfname', 'verror', 2, 'N', 'For valid name enter elphabet only')" placeholder="First Name" title="First Name" required="">
                    <span id="verror"></span>
                    <input type="text" class="user" name="LastName" placeholder="Last Name" title="Last Name" id="vlname" maxlength="15" onkeyup="validate_name('vlname', 'vLerror', 2, 'N', 'For valid name enter elphabet only')" required="">
                    <span id="vLerror"></span>
                    <input type="text" class="user" name="Email" placeholder="Email" title="Email" id="vemail" onkeyup="validate_name('vemail','vEerror','', 'E', 'Email formate should be abc@xyz.com')" required="">
                    <span id="vEerror"></span>
                    <input type="Password" class="user" name="Password" placeholder="Password" title="Password" id="vpass" onkeyup="validate_name('vpass', 'vPerror', 6, 'P', 'please enter atleast 1 capital letter & contain these(#$%^&)')" required="">
                    <span id="vPerror"></span>
                    <input type="Password" class="user" name="ConfirmPassword" placeholder="Confirm Password" title="Confirm Password" id="vCpass" onkeyup="pass_match('vpass', 'vCpass', 'vCPerror')" required="">
                    <span id="vCPerror"></span>
                    <input type="text" class="user" name="CNIC" placeholder="CNIC" title="CNIC" id="cnic" onkeyup="validate_name('cnic', 'CNPerror', 14, 'C', 'Type CNIC with dashes')" required="">
                    <span id="CNPerror"></span>
                    <input type="text" class="user" name="Phone" placeholder="Phone" title="Phone" id="phn" maxlength="13" onkeyup="validate_name('phn', 'Pherror', 10, 'Ph', 'Should be only numeric value')" required="">
                    <span id="Pherror"></span>
                    <input type="text" class="user" name="Address" placeholder="Address" title="Address" maxlength="50" id="vAdr" onkeyup="validate_name('vAdr', 'vadrerror', 7, 'AD', 'addres is not valid')" required="">
                    <span id="vadrerror"></span>
                    <input type="date" class="user" name="Date_of_birth" placeholder="Date Of Birth" title="Date Of Birth" id="vdateid" onchange="Validate_Date('vdateid','vDerror')" required="" style="height:45px;width:430px;margin-bottom:20px">
                    <span id="vDerror"></span>
                    <textarea name="qualification" class="form-control textarea required" required rows="5" maxlength="150" placeholder="" title="Experience, Learing and Skills... "></textarea>


                   
                </form>
                <input type="submit" value="Sign Up " @*onclick="return Check_AllFields()"*@>
                <div class="forgot-grid">
                    <div class="forgot">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <h6>Already have an account? <a href="login.html">Login Now »</a> </h6>
        </div>
    </div>
</body>
<script src="~/Areas/Styling/Design/js/minicart.js"></script>
<script src="~/Areas/Styling/Design/js/jquery.menu-aim.js"> </script>
<script src="~/Areas/Styling/Design/js/main.js"></script>
<script src="~/Areas/Styling/Design/js/bootstrap.js"></script>

}
