
@{
    ViewBag.Title = "blockuser";
    Layout = null;
}

<head>

    <meta charset="UTF-8">

    <title>OLIWS</title><!-- mobile responsive meta -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="~/Designing/OLIWSHOME/css/style.css" rel="stylesheet">
    <link href="~/Designing/OLIWSHOME/css/responsive.css" rel="stylesheet">
    <link href="~/Designing/OLIWSHOME/images/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="~/Designing/OLIWSHOME/images/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="~/Designing/OLIWSHOME/images/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">



    <script src="~/ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="shortcut icon" href="~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/uploads/2014/04/favicon1.png" type="image/x-icon" />

    <link rel='stylesheet' id='media-css-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/themes/Avada/css/media.css' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/themes/Avada/css/animate-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='iphorm-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/iphorm-form-builder/css/stylesa71a.css?ver=1.7.10' type='text/css' media='all' />
    <link rel='stylesheet' id='qtip-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/iphorm-form-builder/js/qtip2/jquery.qtip.min77e6.css?ver=2.2.1' type='text/css' media='all' />
    <link rel='stylesheet' id='iphorm-fancybox-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/iphorm-form-builder/js/fancybox/jquery.fancybox-1.3.4c412.css?ver=1.3.4' type='text/css' media='all' />
    <link rel='stylesheet' id='iphorm-theme-1-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/iphorm-form-builder/themes/light/lighta71a.css?ver=1.7.10' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-smooth-scroll-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/jquery-smooth-scroll/css/jss-style20fd.css?ver=4.9.2' type='text/css' media='all' />
    <link rel='stylesheet' id='widgets-on-pages-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/plugins/widgets-on-pages/public/css/widgets-on-pages-public2fca.css?ver=1.4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider-css' href='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-content/themes/Avada/framework/plugins/LayerSlider/static/css/layerslider3c21.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='ls-google-fonts-css' href='https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900|Open+Sans:300|Indie+Flower:regular|Oswald:300,regular,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
    <script type='text/javascript' src='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/139n2d46dnkv2ayx1o36rbqz-wpengine.netdna-ssl.com/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>

    <style type="text/css">
        #tve_editor .ttfm1 {
            font-family: 'Lato' !important;
            font-weight: 400 !important;
        }

        .ttfm1 input, .ttfm1 select, .ttfm1 textarea, .ttfm1 button {
            font-family: 'Lato' !important;
            font-weight: 400 !important;
        }

        #tve_editor .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong {
            font-weight: 700 !important;
        }

            .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong input, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong select, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong textarea, .ttfm1.bold_text, .ttfm1 .bold_text, .ttfm1 b, .ttfm1 strong button {
                font-weight: 700 !important;
            }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />


</head>

<body>
    <div class="boxed_wrapper">

        <section class="theme_menu stricky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="main-logo">
                            <a href="~/Index/Index"><img alt="" src="~/Designing/OLIWSHOME/images/logo/logo.png"></a>
                        </div>
                    </div>


                    <div class="col-md-9 menu-column">
                        <nav class="defaultmainmenu" id="main_menu">
                            <ul class="defaultmainmenu-menu">



                                <li style="margin-left:150px">
                                    <a href="~/Account/Login">Log Out</a>

                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>







<template>
    <style>
        :host {
            background: #696969;
            padding: 10px;
            transition: all 400ms ease-in-out;
            box-sizing: border-box;
            border-radius: 5px;
            width: 550px;
            height: 300px;
            max-width: 100%;
            color: white;
            text-align: center;
            margin-left: 300px;
        }

        :host(:hover) {
            background: #4B4B4B;
        }

        div {
            position: relative;
            border-bottom: 1px solid;
            margin-bottom: 30px;
        }

        #hed {
            padding: 20px;
            border-bottom: 1px solid;
        }

        h3 {
            margin: 0 !important;
            font-size: 25px;
        }

        footer {
            position: absolute;
            bottom: 10px;
            right: 5px;
        }

        #bt {
            margin-left: 400px;
            background-color: white;
            width: 80px;
            height: 40px;
            text-decoration: none;
            border: none;
            font-weight: 700;
        }
    </style>
    <div>
        <header id="hed">
            <h3>Thank You</h3>
        </header>
        <content select="p"></content>


    </div>
    <button id="bt" class="btn btn-success"><a href="~/Account/Login" style="text-decoration:none">Log Out</a></button>
</template>

<div id="host" class="di">
    <p style="font-size:20px;color:white">unfortunately, you won't be able to access your account you're blocked some bad activites.we'll get back to you soon as we can.</p>
</div>

<script>
  var shadow = document.querySelector('#host').createShadowRoot();
  shadow.appendChild(document.querySelector('template').content);
</script>